<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

            <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label for="projectname">Username</label>
                    <input type="text" id="projectname" formControlName="projectname" class="form-control">
                    <span *ngIf="!projectForm.get('projectname').valid && projectForm.get('projectname').touched" class="help-block">
                      <span *ngIf="projectForm.get('projectname').errors && projectForm.get('projectname').errors['required']">This field is required!</span>
                      <span *ngIf="projectForm.get('projectname').errors && projectForm.get('projectname').errors['invalidProjectName']">This name is invalid!</span>
                    </span>
                </div>

                <div class="form-group">
                    <label for="email">email</label>
                    <input type="text" id="email" formControlName="email" class="form-control">
                    <span *ngIf="!projectForm.get('email').valid && projectForm.get('email').touched" class="help-block">Please enter a valid email!</span>
                </div>

                <div class="form-group">
                    <label for="status">Project Status</label>
                    <select id="status" class="form-control" [ngModel]="status" formControlName="status">
                        <option *ngFor="let status of statuses" >{{ status }}</option>
                    </select>
                </div>

                <button class="btn btn-primary" type="submit">Submit</button>
            </form>

        </div>
    </div>
</div>