<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Angular 4 Training</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/shopping">Shopping App</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
           <li class="dropdown" appDropdown>
          <a style="cursor: pointer" class="dropdown-toggle" role="button">Sections <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active"><a routerLink="/section3">Section 3</a></li>
            <li routerLinkActive="active"><a routerLink="/section5">Section 5</a></li>
            <li routerLinkActive="active"><a routerLink="/section7">Section 7</a></li>
            <li routerLinkActive="active"><a routerLink="/section9">Section 9</a></li>
            <li routerLinkActive="active"><a routerLink="/section11">Section 11</a></li>
            <li routerLinkActive="active"><a routerLink="/section13">Section 13</a></li>
            <li routerLinkActive="active"><a routerLink="/section15">Section 15</a></li>
            <li routerLinkActive="active"><a routerLink="/section17">Section 17</a></li>
            <li routerLinkActive="active"><a routerLink="/section18">Section 18</a></li>
            <li routerLinkActive="active"><a routerLink="/assignment4">Assignment 4</a></li>
            <li routerLinkActive="active"><a routerLink="/assignment5">Assignment 5</a></li>
            <li routerLinkActive="active"><a routerLink="/assignment6">Assignment 6</a></li>
            <li routerLinkActive="active"><a routerLink="/assignment7">Assignment 7</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
