<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ng-template [ngIf]="!authService.isAuthenticated()">
                    <li routerLinkActive="active"><a routerLink="/signup">Register</a></li>
                    <li routerLinkActive="active"><a routerLink="/signin">Login</a></li>
                </ng-template>
                <li><a style="cursor: pointer;" (click)="onLogout()" *ngIf="authService.isAuthenticated()">Logout</a></li>
                <li class="dropdown" appDropdown *ngIf="authService.isAuthenticated()">
                    <a style="cursor: pointer" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer" (click)="onSaveData()">Save Data</a></li>
                        <li><a style="cursor: pointer" (click)="onFetchData()">Fetch Data</a></li>
                    </ul>
                </li>

              <li class="dropdown" appDropdown>
                <a style="cursor: pointer" class="dropdown-toggle" role="button">Project <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li routerLinkActive="active"><a routerLink="/section3">Section 3</a></li>
                  <li routerLinkActive="active"><a routerLink="/section5">Section 5</a></li>
                  <li routerLinkActive="active"><a routerLink="/section7">Section 7</a></li>
                  <li routerLinkActive="active"><a routerLink="/section9">Section 9</a></li>
                  <li routerLinkActive="active"><a routerLink="/section11">Section 11</a></li>
                  <li routerLinkActive="active"><a routerLink="/section13">Section 13</a></li>
                  <li routerLinkActive="active"><a routerLink="/section15">Section 15</a></li>
                  <li routerLinkActive="active"><a routerLink="/section17">Section 17</a></li>
                  <li routerLinkActive="active"><a routerLink="/section18">Section 18</a></li>
                  <li routerLinkActive="active"><a routerLink="/assignment4">Assignment 4</a></li>
                  <li routerLinkActive="active"><a routerLink="/assignment5">Assignment 5</a></li>
                  <li routerLinkActive="active"><a routerLink="/assignment6">Assignment 6</a></li>
                  <li routerLinkActive="active"><a routerLink="/assignment7">Assignment 7</a></li>
                </ul>
              </li>

            </ul>
        </div>
    </div>
</nav>
